{% extends 'base.html' %}

{% block content %}
<!-- post_detail.html -->
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>

<h2>Comments:</h2>
<ul>
    {% for comment in comments %}
        <li>
            {{ comment.author.username }}: {{ comment.content }}
            {% if request.user == comment.author %}
                <a href="{% url 'comment_edit' comment.pk %}">Edit</a>
                <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<h2>Leave a comment:</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post comment</button>
</form>

